#about
    .uptext
        padding-top: 30px
        h1
            font-size: 45px
            font-weight: 700
            margin-bottom: 15px
        h4
            color: #b2b4b7
            font-size: 18px
            margin-bottom: 60px
    .bigbox
        display: flex
        flex-flow: column
        .box
            display: flex
            flex-flow: row
            margin: 20px
            .imgbox,.imgboxleft
                position: absolute
                margin-top: 40px
                img
                    width: 85%
                    border: 7px solid #d1cccc
                    border-radius: 50%
            .imgboxleft
                left: 544px
            .imgbox
                right: 528px
            .textbox
                padding: 30px 0
                margin: 1px 80px
                width: 28%
                line-height: 1.5
                font-size: 20px
                color: #272626c6
                h1,h2
                    font-weight: 700
                    font-size: 25px
                    color: #000
    .minibox
        background-color: #f7ef14
        margin: 30px -55px
        width: 180px
        height: 180px
        border: 7px solid #d1cccc
        border-radius: 50%
        text-align: center
        h6
            margin: 40px
            font-size: 25px
            font-weight: 700
            color: #ffff

    @media screen and ( max-width: 768px )
        .uptext
            padding-top: 15px
            h1
                font-size: 30px
            h4
                font-size: 15px
        .bigbox
            .box
                .textbox
                    h1,h2
                        font-size: 20px
                    p
                        font-size: 15px
                .imgbox,.imgboxleft
                    img
                        border: 4px solid #d1cccc
                        width: 55%
                .imgboxleft
                    left: 325px
                .imgbox
                    right: 233px
        .minibox
            width: 115px
            height: 115px
            border: 4px solid #d1cccc
            h6
                margin: 20px
                font-size: 20px
