header
    .menu
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 1
        background-color: #181818
        .logobox
            padding: 10px
            width: 13%
            margin: 15px
        nav
            padding: 26px
            a
                color: #ffff
                margin: 10px
                font-size: 18px
                &:hover
                    color: #eeff03

    @media screen and (max-width: 768px)
        .menu
            nav
                a
                    font-size: 13px
