#services
    padding: 90px
    .begin
        h1
            font-weight: 700
            font-size: 40px
        h5
            margin: 20px 0 50px
            font-size: 20px
    .box
        .icon
            margin: 20px
            background-color: #edd30b
            border-radius: 90px
            width: 140px
            height: 130px
            i
                font-size: 70px
                color: #ffff
    .textbox
        h2
            font-weight: 700
            margin: 25px 0 30px
            font-size: 25px
        p
            font-size: 18px
            color: #272626c6
            line-height: 1.5

    @media screen and ( max-width:768px)
        .begin
            h1
                font-size: 30px
            h5
                font-size: 15px
        
        .textbox
            h2
                font-size: 20px
            p
                font-size: 15px

       